<h3>Timesheets</h3>
{{#if error}}
<p>An error occurred: {{error.data}}</p>
{{else}}
<table class="table table-bordered table-striped table-collapsed">
    <thead>
    <tr>
        <td>ID</td>
        <td>Employee ID</td>
        <td>Start Date</td>
        <td>End Date</td>
        <td>Status</td>
        <td>Hours</td>
    </tr>
    </thead>
    {{#each timesheets}}
    <tr>
        <td>{{ this.TimesheetID }}</td>
        <td>{{ this.EmployeeID}}</td>
        <td>{{ this.StartDate }}</td>
        <td>{{ this.EndDate }}</td>
        <td>{{ this.Status}}</td>
        <td>{{ this.Hours }}</td>
    </tr>
    {{/each}}
</table>
{{/if}}