<header>
    <div class="tsd-page-toolbar">
        <div class="container">
            <div class="table-wrap">
                <div class="table-cell" id="tsd-search" data-index="{{relativeURL "assets/js/search.js"}}" data-base="{{relativeURL "./"}}">
                    <div class="field">
                        <label for="tsd-search-field" class="tsd-widget search">Search</label>
                        <input id="tsd-search-field" type="text" />
                    </div>

                    <ul class="results">
                        <li class="state loading">Preparing search index...</li>
                        <li class="state failure">The search index is not available</li>
                    </ul>

                    <a href="{{relativeURL "index.html"}}" class="title">Xero Node.JS SDK Documentation</a>
                </div>

                <div class="table-cell" id="tsd-widgets">
                    <a href="#" class="tsd-widget menu no-caption" data-toggle="menu">Menu</a>
                </div>
            </div>
        </div>
    </div>
    <div class="tsd-page-title">
        <div class="container">
            <ul class="tsd-breadcrumb">
                {{#if model.parent}}
                    <li>
                        <a href="{{relativeURL "index.html"}}">{{project.name}}</a>
                    </li>
                {{/if}}
            </ul>
            <h1>{{#compact}}
                {{#if model.kindString}}{{model.kindString}}:&nbsp;{{/if}}
                {{model.name}}
                {{#if model.typeParameters}}
                    &lt;
                    {{#each model.typeParameters}}
                        {{#if @index}},&nbsp;{{/if}}
                        {{name}}
                    {{/each}}
                    &gt;
                {{/if}}
            {{/compact}}</h1>
        </div>
    </div>
</header>
