<h3>Invoices</h3>
<table class="table table-bordered table-striped table-collapsed">
    <thead>
        <tr>
            <td>Invoice Number</td>
            <td>Date</td>
            <td>Due Date</td>
            <td>Status</td>
            <td>Total</td>
            <td></td>
        </tr>
    </thead>
    {{#each invoices}}
    <tr>
        {{#ifCond this.Type '==' 'ACCREC'}}
        <td><a href="https://go.xero.com/AccountsReceivable/View.aspx?InvoiceID={{ this.InvoiceID }}" target="_blank">
            {{#if this.InvoiceNumber}}
                {{this.InvoiceNumber}}
            {{else}}
                {{this.InvoiceID}}
            {{/if}}
            </a>
        </td>
        {{else}}
        <td><a href="https://go.xero.com/AccountsPayable/View.aspx?InvoiceID={{ this.InvoiceID }}" target="_blank">
            {{#if this.InvoiceNumber}}
                {{this.InvoiceNumber}}
            {{else}}
                {{this.InvoiceID}}
            {{/if}}
            </a>
        </td>
        {{/ifCond}}
        <td>{{ this.Date }}</td>
        <td>{{ this.DueDate }}</td>
        <td>{{ this.Status}}</td>
        <td>{{ this.Total }}</td>
        <td><a href="/emailinvoice?id={{ this.InvoiceID }}" class="btn btn-primary btn-xs">Email</a></td>
    </tr>
    {{/each}}
</table>