<h3>Items</h3>
<table class="table table-bordered table-striped table-collapsed">
    <thead>
    <tr>
        <td>ID</td>
        <td>Code</td>
        <td>Description</td>
        <td>Cost Price</td>
        <td>Sale Price</td>
    </tr>
    </thead>
    {{#each items}}
    <tr>
        <td>{{ this.ItemID }}</td>
        <td>{{ this.Code }}</td>
        <td>{{ this.Description }}</td>
        <td>{{ this.PurchaseDetails.UnitPrice }}</td>
        <td>{{ this.SalesDetails.UnitPrice }}</td>
    </tr>
    {{/each}}
</table>